<a id="iso_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso">
  <img src="/images/dot_media.png" alt="Download" title="Click to Download" />
</a>
<a id="iso_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso"><%= text -%></a>

(<a id="gpg_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso.asc">gpg</a> |
<a id="md5_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso.md5">md5</a> |
<a id="sha1_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso.sha1">sha1</a>)
