<p class="justify">
  <%=_("Many applications can verify the checksum of a download. To verify your download can be important as it verifies you really have got the ISO file you wanted to download and not some broken version.") %>
  <%=_("You could verify the file in the process of downloading. For example a checksum (SHA256) will be used automatically if you choose <a href='http://en.opensuse.org/SDB:Metalink'>Metalink</a> in the field above and use the add-on DownThemAll! in <a href='http://en.opensuse.org/Firefox'>Firefox</a>.") %>
</p>
<p>
  <%=_("For each ISO, we offer a checksum file with the corresponding SHA256 sum.") %>
  <%=_("For extra security, you can use GPG to verify who signed those .sha256 files. It should be %s.") % @gpg %>
</p>
