# Annoying files
nbproject
._*
.#*
*~
diff.diff
.*.sw*
.DS_Store
.idea
.directory

# Bundler config
/.bundle

# Static files in public
public/111
public/112
public/113
public/114
public/121
public/assets
public/developer
public/developer.html
public/developer2
public/images
public/index.html
public/package

# Logfiles and temfiles
/log/*.log
/tmp

# i18n
locale/*/software.edit.po
locale/*/software.po.time_stamp

# Local databases
/db/*.sqlite3
/db/*.db

# Vagrant machines
/.vagrant

.byebug_history
docker-compose.override.yml
