# Annoying files
nbproject
._*
.#*
*~
diff.diff
.*.sw*
.DS_Store
.idea
.directory

# Bundler config
/.bundle

# docker-compose override file
docker-compose.override.yml

# dotenv files
.env
.env.production
.env.development
.env.test

# Static files in public
public/111
public/112
public/113
public/114
public/121
public/assets
public/developer
public/developer.html
public/developer2
public/images
public/index.html
public/package

# File storage
/storage

# Logfiles and tempfiles
/log/*.log
/tmp

# i18n
locale/*/software.edit.po
locale/*/software.po.time_stamp

