[submodule "public/themes"]
	path = public/themes
	url = git://github.com/openSUSE/opensuse-themes.git

[submodule "public/chameleon"]
	path = public/chameleon
	url = git@github.com:openSUSE-zh/chameleon.git
