# Rails Secret Key Base
# https://guides.rubyonrails.org/security.html#session-storage
# generate one with rails secret
SECRET_KEY_BASE=12345

# OBS API Secrets
# https://api.opensuse.org/apidocs/
SOFTWARE_API_USERNAME=myusername
SOFTWARE_API_PASSWORD=mypassword
SOFTWARE_OPENSUSE_COOKIE=12345

# Postgres Database configuration
SOFTWARE_DB_USER=postgres
SOFTWARE_DB_PASSWORD=postgres
SOFTWARE_DB_NAME=postgres
SOFTWARE_DB_HOST=database
SOFTWARE_DB_PORT=5432
