# The Sentry DSN to send events to
# https://docs.sentry.io/product/sentry-basics/concepts/dsn-explainer/
# SOFTWARE_SENTRY_DSN=https://public@sentry.example.com/1

# Postgres Databae Configuration
# https://www.postgresql.org/docs/current/ecpg-sql-connect.html
#
# SOFTWARE_DB_HOST=database.mydomain.example
# SOFTWARE_DB_PORT=5432
# SOFTWARE_DB_USER=postgres
# SOFTWARE_DB_PASSWORD=mysecretpassword
# SOFTWARE_DB_NAME=postgres

