<% @page_title = _("Search") -%>
<% @hide_side_box = true -%>
<% @hide_search_box = true -%>

<% content_for :content_for_head do %>
<% end %>

<%= render :partial => 'find_form' %>

<div id="search_result_container">
  <% unless @result.nil? %>
    <%= render :partial => 'find_results' %>
<% end %>
</div>