<% packages.flatten.sort_by(&:project).group_by(&:project).each do |result| %>
  <li>
    <% if  result.first == distro[:project] || result.first == "#{distro[:project]}:NonFree"
      name = _("<b>official release</b>")
    elsif result.first == "#{distro[:project]}:Update"
      name = _("<b>official update</b>")
    else
      name = shorten result.first, 22
    end

    if result.last.first.package.nil?
      pkg_link = "https://build.opensuse.org/project/show?project=#{result.first}"
    else
      pkg_link =  "https://build.opensuse.org/package/show?project=#{result.first}&package=#{result.last.first.package}"
    end -%>
    <%= link_to name, pkg_link %>

  <%# only use the latest version, obs bug: some outdated versions still listed. %>
    <% version = result.last.map{|r| r.version }.max %>

    <% release = result.last.select{|r| r.version == version }.map{|v| "#{v.release}".sub(".", "").to_i}.max %>
    <ul class="pkg-typ-options">
      <li><%= shorten version, 23 %></li>
      <% items = result.last.select{|r| r.version == version && "#{r.release}".sub(".", "").to_i == release } %>
      <% archs = items.map{|item| human_arch( item.arch ) }.uniq.sort %>
      <%  archs << _("Source") if archs.delete(_("Source")) %>
      <% archs.each do |arch| %>
        <% items.select{|item| human_arch( item.arch ) == arch}.each do |bin| %>
          <li><%= link_to human_arch( bin.arch ), "http://download.opensuse.org/repositories/" + bin.filepath  %> </li>
        <% end -%>
      <% end -%>
    </ul>
    <% if distro[:project].match(/SUSE/) %>
      <% url = url_for :controller => 'main', :action => 'ymp_without_arch_and_version',
        :project => result.first, :repository => result.last.first.repository, :package => @pkgname,
        :base => result.last.first.baseproject, :query => @pkgname%>
      <a class="pkg-options-one-click" href="<%= url %>">1 Click Install</a>
    <% end %>
  </li>
<% end -%>
