
<% packages.flatten.group_by(&:project).each do |result| %>
  <li>
    <% if  result.first == distro[:project] %>
      <% name = "release" %>
    <% elsif result.first == "#{distro[:project]}:Update" %>
      <% name = "<b>update</b>" %>
    <% else %>
      <% name = shorten result.first, 25 %>
    <% end -%>

    <%= link_to name, "https://build.opensuse.org/package/show?project=#{result.first}&package=#{result.last.first.package}" %>
  <%# only use the latest version, obs bug: some outdated versions still listed. %>
    <% version = result.last.map{|r| r.version }.max %>
    <% release = result.last.select{|r| r.version == version }.map{|v| v.release.sub(".", "").to_i}.max %>
    <ul class="pkg-typ-options">
      <li><%= shorten version, 12 %></li>
      <% result.last.select{|r| r.version == version && r.release.sub(".", "").to_i == release }.each do |bin| %>
        <li><%= link_to human_arch( bin.arch ), "http://download.opensuse.org/repositories/" + bin.filepath  %> </li>
      <% end %>
    </ul>
    <% if distro[:project].match(/SUSE/) %>
      <% url = url_for :controller => 'main', :action => 'ymp_without_arch_and_version',
        :project => result.first, :repository => result.last.first.repository, :package => @pkgname, :base => result.last.first.baseproject %>
      <a class="pkg-options-one-click" href="<%= url %>">1 Click Install</a>
    <% end %>
  </li>
<% end -%>
