<% @hide_side_box = true -%>
<% @hide_search_box = true -%>

<%= render :partial => 'search/find_form' %>


<div id="search_result_container">


    <div class="box box-shadow">
    <h2 class="box-header">test</h2>


openSUSE AppStore







      </div>



  </div>