%section.py-5
  .container
    .row
      .col-md-5.col-12.my-auto
        %h2.text-center= _('Install it how you want it')
        %p= _("openSUSE Installation process provides you with options you need. Want to install your system with mouse and keyboard? Load up the installer in graphical mode. Don't have a mouse on hand? Enable terminal client and install it that way. Only have physical access to the machine? Connect to the installer remotely and get on with the installation. It's that simple.")
      .col-md-7.col-12.my-auto
        = image_tag 'features/installation/installation.png', alt: "Installer screenshot", class: "animated bounceIn w-100"
