%section.py-5
  .container
    .row
      .col-md-5.col-12.my-auto
        = image_tag 'features/snapper/screenshot.svg', alt: "YaST Snapper Module screenshot", class: "d-block w-100"
      .col-md-7.col-12.my-auto
        %h2.text-center= _("System corrupted? Not a problem anymore")
        %p= _("The Filesystem Snapshots feature keeps your filesystem in check by having continuous backups performed automatically when installing software and updates. Just boot form an earlier snapshot and bring your system to a working state in the matter of minutes.")
        .d-flex
          = link_to "Learn More", "http://snapper.io", class: 'btn btn-primary mx-auto'
