%section.py-5.bg-light
  .container
    = image_tag 'features/store/store.svg', alt: "Shopping bag", class: "d-block mx-auto p-4", width: "112", height: "112"
    %h2.text-center
      = _("Getting software couldn't be easier")
    %p
      = _('Between you and us, having to go through every website to get all the software you might need is a lot of work. Online software center makes this way easier, by incorporating software from plethora of sources in one place.')
    .d-flex
      = link_to(_('Get software'), "/explore", class: "btn btn-primary mx-auto")
