%section.py-5.bg-light
  .container
    %h2.text-center= _("Transactional server")
    %p= _("The installer now supports a new system role Transactional Server, which is an outcome of the openSUSE Kubic efforts. This system role features a new update system that applies updates atomically (as a single operation) and makes them easy to revert should it become necessary. These features are based on the package management tools that all other SUSE and openSUSE distributions rely on. This means that the vast majority of RPM packages that work with other system roles of openSUSE distributions also work with the system role Transactional Server. ")
    .d-flex
      = link_to "Learn More", "https://kubic.opensuse.org/blog/2018-04-20-transactionalupdates2/", class: 'btn btn-primary mx-auto'
