%section.py-5.bg-server.text-white
  .container
    .row
      .col-md-5.col-12.my-auto
        = image_tag 'features/zypper/screenshot.png', alt: "zypper screenshot", class: "w-100"
      .col-md-7.col-12.my-auto
        %h2.text-center= _('Zypper, your new favourite package manager')
        %p= _("It's quick and easy to learn. Provides zypper-apt, a compatibilty layer for usage with apt and apt-get commands. It's based on libsolv, which guarantees both speed and reproducable resolving of dependencies. The interface is clear and appropriately coloured, for ease of reading. It's perfect, what else could be said?")
