#iso-wrapper {
  padding: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}

#iso-wrapper h4 {
  margin-top: 4px;
  float:left
}

#iso-wrapper div.changeiso {
  border: 2px solid #ccc;
  min-height: 35px;
  height: 60px;
  margin-bottom: 10px;
  color: #999;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #ffffff url('/images/gradien-light-grey.png') repeat-x scroll bottom left;
}

#iso-wrapper div.medium_selected {
  border-color: #4987B3;
  -moz-box-shadow: 0px 1px 4px #999;
  -webkit-box-shadow: 0px 1px 4px #999;
  box-shadow: 0px 1px 4px #999;
  color: #333;
}

#iso-wrapper div.changeiso div {
  padding-top: 5px;
  padding-bottom: 2px;
  margin-right: 15px;
}

#iso-wrapper div.changeiso img { /* Icon */
  margin: 5px 5px 0px 3px;
  float: left;
  height :48px;
}

.download_buttonClass {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #fff url('/images/gradient-light-short.png') repeat-x scroll 0 0;
  border: 2px solid #4987B3;
  color: #444 !important;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #fff;
  width: auto !important;
  max-width: 98%;
  position: relative;
  overflow: visible;
  margin-left: 3px;
  margin-top: 0em;
  -moz-box-shadow: 0px 1px 2px #999;
  -webkit-box-shadow: 0px 1px 2px #999;
  box-shadow: 0px 1px 2px #999;
  margin-right: 4px;
}

.download_buttonClass:hover {
  color: #4987B3 !important;
  -moz-box-shadow: 0px 1px 2px #ccc;
  -webkit-box-shadow: 0px 1px 2px #ccc;
  box-shadow: 0px 1px 2px #ccc;
}

#downloadButtonDiv {
  float:right;
}

.icon_unselected {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter:alpha(opacity=30);
}

.icon_selected { opacity: 1; }
form div .l_change { display: block; margin-bottom: .5em; float:left;}}

#popup {
  padding: 0.5em;
  width: 70%;
  margin: 0 auto;
  border: 3px solid #000000;
  background: #ffffff;
  position: absolute;
  left: 0px;
  z-index: 2;
}

/* Helper Styles */
.hidden { display: none; }
.help_icon { margin-right: 10px; }
.notavailable { color: gray; }

#iso-wrapper form {
  margin-left: 20px;
  height: 140px;
}

.navlist {
  margin-left: -4px;
}

#download_os,
#get_software {
  padding: 7px 0;
  text-align: center;
  overflow: hidden;
  background: url('/images/get_it128.png') no-repeat center;
}

#get_software {
  padding: 15px 0 0;
  background: url('/images/get_pack.png') no-repeat top;
}

#derivativesDiv {
  margin-left: 15px;
  margin-bottom: 50px;
}

ul#addon_downloads li {
  display: block;
  vertical-align: middle;
}

ol#howtoproceed li {
  margin: 12px;
}

ol#howtoproceed dt {
  font-weight: bold;
  margin-left: 24px;
}

ol#howtoproceed dd {
  margin-left: 48px;
}

#search_form {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#form_control {
  margin-top: 10px;
}

#ajaxindicator {
  color: #999;
  background: url('http://static.opensuse.org/c/images/common/spinner_16.gif') no-repeat 0;
  padding-left: 20px;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
