.ui-dialog{position:relative;padding:.2em;width:300px;}
.ui-dialog .ui-dialog-titlebar{padding:.5em .3em .3em 1em;position:relative;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 0 .2em;}
.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:0 1px 4px -20px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{border:0;padding:.5em 1em;background:none;overflow:auto;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;}
.ui-dialog .ui-dialog-buttonpane button{float:right;margin:.5em .4em .5em 0;cursor:pointer;padding:.2em .6em .3em .6em;line-height:1.4em;width:auto;overflow:visible;}
.ui-dialog{border:1px solid #dddddd;background:#eeeeee 50% top repeat-x;color:#333333;}
.ui-corner-all{-moz-border-radius:4px;-webkit-border-radius:4px;}
.ui-widget{font-size:1.1em;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{font-size:1em;}
.ui-widget-header{border:1px solid #e78f08;background:#f6a828;color:#ffffff;font-weight:bold;}
.ui-widget-header a{color:#ffffff;}
.ui-helper-clearfix{display:inline-block;}
.ui-helper-clearfix{display:block;}
#iso-wrapper{padding:0;margin-right:0;padding-left:15px;padding-right:15px;}
#iso-wrapper h4{margin-top:4px;float:left}
#iso-wrapper div.changeiso{border:2px solid #7C92A4;min-height:50px;margin-bottom:10px;color:#999;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;background:#ffffff url('../images/gradien-light-grey.png') repeat-x scroll bottom left;}
#iso-wrapper div.changeiso:hover{border:2px solid #690;}
#iso-wrapper div.changeiso{border-color:#4987B3;-moz-box-shadow:0px 1px 4px #999;-webkit-box-shadow:0px 1px 4px #999;box-shadow:0px 1px 4px #999;color:#333;}
#iso-wrapper div.changeiso div{padding-top:5px;padding-bottom:2px;margin-right:15px;min-height:55px;}
#iso-wrapper div.changeiso img{margin:5px 15px 0 7px;float:left;height:48px;}
.download_buttonClass{-moz-box-shadow:0px 1px 2px #ccc;-webkit-box-shadow:0px 1px 2px #ccc;box-shadow:0px 1px 2px #ccc;color:#069;background-color:#eee;}
.download_buttonClass{border-width:2px;}
.download_buttonClass:hover{-moz-box-shadow:0px 1px 2px #ccc;-webkit-box-shadow:0px 1px 2px #ccc;box-shadow:0px 1px 2px #ccc;}
.icon_unselected{}
.icon_selected{opacity:1;}
form div .l_change{display:block;margin-bottom:.5em;float:left;}
#popup{padding:0.5em;width:70%;margin:0 auto;border:3px solid #000000;background:#ffffff;position:absolute;left:0px;z-index:2;}
.hidden{display:none;}
.help_icon{margin-right:10px;}
.notavailable{color:gray;}
#iso-wrapper form{margin-left:20px;}
.navlist{margin-left:-4px;}
#download_os, #get_software{padding:7px 0;text-align:center;overflow:hidden;background:url('../images/get_it128.png') no-repeat center;}
#get_software{padding-left:120px;padding-right:20px;background:url('../images/get_pack.png') no-repeat 10px -10px;min-height:90px;}
#derivativesDiv{margin-left:15px;margin-bottom:50px;}
ul#addon_downloads li{display:block;vertical-align:middle;}
ol#howtoproceed li{margin:12px;}
ol#howtoproceed dt{font-weight:bold;margin-left:24px;}
ol#howtoproceed dd{margin-left:48px;}
#search_form{margin-left:auto;margin-right:auto;}
.form_control{margin-top:10px;}
#ajaxindicator{color:#999;background:url('http://static.opensuse.org/c/images/common/spinner_16.gif') no-repeat 0;padding-left:20px;width:80px;margin-left:auto;margin-right:auto;}
#search_short{text-align:center;}
.search_o_wrapper{border:10px solid #fcfcfc;height:auto;clear:both;}
.search_o_title{display:block;height:1em;border-top:1px solid #CCC;padding-top:1ex;}
.search_o_title div{width:49.5%;float:left;}
.search_o_title h3{font-size:1.2em;color:#F59F1A;}
.search_o_title h4{font-size:1em;color:#999;}
.description{padding-top:1ex;}
.description .description-txt{width:70%;float:left;margin-bottom:1em;}
.install_btn{float:right;min-width:135px;height:38px;text-align:center;background:transparent url(http://static.opensuse.org/hosts/software.o.o/images/inst_btn.png) no-repeat scroll top left;white-space:nowrap;}
.install_btn a{display:block;height:38px;line-height:36px;margin-left:32px;text-decoration:none !important;}
.small_btn{float:left;width:75px;height:22px;margin-top:3px;padding-top:2px;text-align:center;text-decoration:none;text-decoration:none!important;background:transparent url(http://static.opensuse.org/hosts/software.o.o/images/small_btn.png) no-repeat scroll top left;}
.description h4{color:#999;}
#pkg_list_wrapper{display:block;clear:both;}
.pkg_list{width:95%;clear:both;}
.pkg_list td{padding:4px;}
.pkg_list .cell1{width:20px;font-weight:bold;}
#pkg_list_wrapper h4{color:#999;display:block;width:20em;float:left;}
#paginator_bottom{border-top:1px solid #ccc;margin:8px;}
#search_results_top{margin:8px;}
#paginator{padding:16px;text-align:center;clear:both;}
#permalink{padding-top:8px;float:right;}
#search_top_info{padding-top:8px;float:left;}
p.justify{text-align:justify;}
#nothing_found{clear:both;text-align:center;padding:20px;font-weight:bold;}
.ui-accordion-content{padding-bottom:2em;}
#downloadMethodDiv, #TypeOfComputerDiv, #downloadButtonDiv{float:left;}
#downloadButtonDiv{clear:both;margin-top:1em;}
#downloadMethodDiv label, #TypeOfComputerDiv label{display:block;clear:left;}
#downloadMethodDiv div, #TypeOfComputerDiv div{margin-left:1em;}
#downloadMethodDiv{}
#TypeOfComputerDiv{}
.query_5{font-size:130%;}
.query_4{font-size:119%;}
.query_3{font-size:108%;}
.query_2{font-size:97%;}
.query_1{font-size:86%;}
.query_0{font-size:75%;}
.soo_flavour_line{height: 80px; margin-left: 10px;}
body {margin: 0 !important; }

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: url('http://static.opensuse.org/themes/bento/fonts/DroidSans.eot') format('embedded-opentype'),
        local('Droid Sans'), local('DroidSans'),
        url('http://static.opensuse.org/themes/bento/fonts/DroidSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: bold;
    src: url('http://static.opensuse.org/themes/bento/fonts/DroidSans-Bold.eot') format('embedded-opentype'),
        local('Droid Sans Bold'), local('DroidSans-Bold'),
        url('http://static.opensuse.org/themes/bento/fonts/DroidSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Sans Mono';
    font-style: monospaced;
    font-weight: normal;
    src: local('Droid Sans Mono'), local('DroidSans-Mono'),
        url('http://static.opensuse.org/themes/bento/fonts/DroidSansMono.ttf') format('truetype');
}

body {

    font: 1em "Droid Sans", "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;
}

.ui-state-error p, .ui-state-highlight p {
    margin-bottom: 10px;
}

.install_pkg_btn {
    background: url("http://static.opensuse.org/hosts/software.o.o/images/inst_btn.png") no-repeat scroll left top transparent;
    height: 38px;
    width: 135px;
    white-space: nowrap;
}

.install_pkg_btn a {
    margin-left: 45px;
    margin-top: 10px;
    position: absolute;
}


/* Appstream Styles
  ========================================================================= */

.pkg-search-box {
    background: #666; /* Old browsers */
    background: -moz-linear-gradient(top, #666 0%, #333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #666 0%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #666 0%,#333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #666 0%,#333 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666', endColorstr='#333',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #666 0%,#333 100%); /* W3C */
    text-align: center;

}
.pkg-search-box * {
    font-size: 1.2em;
}

.pkg-search-box input#search-form {
    margin: 0;
    padding: 0.16em 0 0.16em 27px;
    -moz-box-shadow:    inset 0 0 3px #666;
    -webkit-box-shadow: inset 0 0 3px #666;
    box-shadow:         inset 0 0 3px #666;
    background: white url('images/find.png') no-repeat;
}

.search-form-busy {
    background: white url('images/ajax-loader.gif') no-repeat !important;
}

ul#search-result-list {
    list-style: none outside;
}
ul#search-result-list li {
    padding: 0.5em;
    min-height: 65px;
}
ul#search-result-list li:nth-child(even) {
    background-color: #eee;
}

ul#search-result-list li img {
    box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #999;
}

.search-result-txt {
    padding-left: 140px;
}

input[type="submit"].search-go-button {
    background: #9c0; /* Old browsers */
    background: -moz-linear-gradient(top, #9c0 0%, #690 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c0), color-stop(100%,#690)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9c0 0%,#690 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9c0 0%,#690 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #9c0 0%,#690 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0', endColorstr='#690',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #9c0 0%,#690 100%); /* W3C */

    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;

    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;

    border: none;

    color: white;
    font-weight: bold;
    margin-left: -6px;
    font-size: 1em;
    padding: 0.3em;
}

.app-screenshot {
    float: left;
    margin-right: 25px;
    border: 1px solid white;
    box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #999;
}

.app-screenshot ~ p, .app-screenshot ~ a#one-click-button { /* If screenshot is available sibling <p> get left margin.*/
                                                            margin-left: 215px;
}

.box-header a.pkg-backlink {
    font-weight: normal;
    text-shadow: none;
    color: #666;
}
.box-header a.pkg-backlink:hover {
    color: #069;
}

/*#pkg-aside {}*/
/*#pkg-aside ul,*/
#pkg-options ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
}

#pkg-info {

}
#pkg-info li {
    margin-bottom: 1.5em;
    margin-left: 1em;
}
#pkg-info strong {
    color: #999;
    display: block;
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 2em;
}
#pkg-info span {

}

.pkg-content {}
#pkg-description h1, #pkg-description h3{
    margin-left: 0px;
}

#one-click-button {
    color: white;
    display: block;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;

    border: 1px solid #fff;

    background: #9c0; /* Old browsers */
    background: -moz-linear-gradient(top, #9c0 0%, #690 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c0), color-stop(100%,#690)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #9c0 0%,#690 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #9c0 0%,#690 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #9c0 0%,#690 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0', endColorstr='#690',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #9c0 0%,#690 100%); /* W3C */

    box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #999;

    padding: 10px;
    width: 300px;

}
#one-click-button strong,
#one-click-button em {
    margin-left: 10px;
    white-space: nowrap;
}
#one-click-button:hover,
#one-click-button:focus {
    text-decoration: none;
    border-color: #069;
}
#one-click-button strong {
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-shadow: #999 0px 1px 2px;
}
#one-click-button em {
    font-size: 0.8em;
    font-style: normal;
}
#one-click-button img {
    float: left;
}
#pkg-options {
    clear: both;
    padding-top: 1em;
}
#pkg-desc {
    white-space: pre-line;
}
#pkg-options > ul {
    width: 95%;
}
#pkg-options > ul > li {
    padding-bottom: 5px;
}
#pkg-options a:hover {
    text-decoration: none;
}
#pkg-options > ul > li > a {
    display: block;
    width: 100%;
    background: transparent url('images/toggle-arrow.png') no-repeat scroll 99% -14px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
}
#pkg-options > ul > li > a:hover,
#pkg-options > ul > li > a:focus,
#pkg-options > ul > li > a.active {
    background-position: 99% 0;
}
#pkg-options > ul > li > a.active {
    border-bottom: 1px solid #eee;
}
#pkg-options .pkg-options-details {
    overflow: hidden;
    padding: 0;
}
#pkg-options .pkg-options-details ul * {
    margin: 0;
}
#pkg-options .pkg-options-details > li {
    overflow: hidden;
    clear: both;
    border-top: 1px solid #eee;
    padding: 5px 0 0px;
}
#pkg-options .pkg-options-details > li:first-child {
    border-top: 0;
}
#pkg-options .pkg-options-details li * {
    float: left;
}
#pkg-options .pkg-options-details a {
    color: #666;
    padding: 1px 0;
}
#pkg-options .pkg-options-details a:hover,
#pkg-options .pkg-options-details a:focus {
    color: #690;
}
#pkg-options .pkg-options-details > li > a:first-child {
    display: block;
    width: 15em;
}
#pkg-options .pkg-options-details li a.trigger-show-more {
    display: block;
    width: 100%;
    text-align: center;
}
.hidden {
    display: hidden;
}
#pkg-options  li a.pkg-options-one-click {
    float: right;
    font-weight: bold;
    color: #690;
}
#pkg-options  li a.pkg-options-one-click:hover,
#pkg-options  li a.pkg-options-one-click:focus {
    color: #069;
}

#pkg-options .pkg-typ-options li {
    margin-right: 1em;
}
#pkg-options .pkg-typ-options li:first-child {
    width: 5em;
}
#pkg-options .pkg-typ-options li:nth-child(2) {
    background: transparent url("images/arrow-16-grey.png") no-repeat scroll top left;
    padding-left: 16px;
}
#pkg-options .pkg-typ-options a {
    padding: 1px 6px 1px 5px;
}
#pkg-options .pkg-typ-options a.selected, #pkg-options .pkg-typ-options a:hover
, #pkg-options .pkg-typ-options a:focus{
    background-color: #ddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


#pkg-categorie-note { /* Categorie under first H1 */
                      color: #999;
                      margin: -2em 0 2em;
                      font-size: 0.8em;
                      letter-spacing: 0.1em;
}
#pkg-categorie-note strong {
    font-weight: normal;
}
#pkg-categorie-note a {
    font-weight: bold;
    color: #999;
}
#pkg-categorie-note a:hover {
    color: #690;
}
#pkg-categorie-note a:after { /* place ", " after each <a> */
                              content: ", ";
}
#pkg-categorie-note a:last-child:after { /* Don't place it after the last <a>*/
                                         content: none;
}

#show-extra-dists {
    display: block;
    text-align: center;
    width: 100%;
    color: #666666;
}