<%
@page_title = "PromoDVD Requests"
@hide_search_box = true
%>

<h3>
  <%=@orders.length%> PromoDVD orders:
</h3>

<p>
<% @orders.each do |order| %>
  <%=  order.id %>: <%= link_to order.name, order.email %> from <%= order.country %>,
  amount: <%=  order.amount %>, deadline: <%= order.deadline %> (<%= order.created_at %>)<br/>
<% end -%>
</p>