<%
@hide_search_box = true
@page_title = "Order Promo DVD copies"
-%>


<p>
  Due to the huge amount of requests we have to make a pause to make sure we can deliver
  the PromoDVDs. Yes, we are not a parcel service :-)
</p>
<p>
  There will be an announcement on <a href='http://news.opensuse.org'>http://news.opensuse.org</a> when you can order
  DVDs again.
</p>
<p>
  If you have an <b>urgent</b> request, an event with a close deadline, please send an email to marketing at opensuse.org.
</p>
