<%
@hide_search_box = true
@page_title = "Thanks mon"
-%>
<div>
  <p>Thank you for ordering openSUSE PromoDVDs.</p>

  <ul>
    <li> Processing and shipping will take 2-3 weeks.</li>
    <li> Reuse the order page if you didn't get any DVDs after 3 weeks.</li>
  </ul>

</div>
