<%
@hide_search_box = true
@page_title = "Thanks mon"
-%>
<div>
  <p>Thank you for ordering openSUSE PromoDVDs.</p>

  <ul>
    <li> Processing and shipping may take 2-3 weeks, but possibly longer in some
cases.</li>
    <li> Contact <a href="mailto:promodvds@opensuse.org">promodvds@opensuse.org</a> if you didn't get any response after 3 weeks.</li>
  </ul>

</div>
