<h2 id="choosing-which-media-to-download">
  <%= _('Choosing Which Media to Download') %>
</h2>
<p>
  <%= _('The DVD/USB Stick is typically recommended as it contains most of the
packages available in the distribution and does not require a network
connection during the installation.') %>
</p>
<p>
  <%= _('The Network CD/USB Stick is recommended for users who have limited
bandwidth on their internet connections, as it will only download the
packages they choose to install, which is likely to be significantly
less than 4.7GB.') %>
</p>
