<h2 id="recommended-system-requirements">Recommended System Requirements</h2>
<ul>
  <li>2 Ghz dual core processor or better</li>
  <li>2 GB system memory</li>
  <li>Over 40GB of free hard drive space</li>
  <li>Either a DVD drive or USB port for the installation media</li>
  <li>Internet access is helpful, and required for the Network Installer</li>
</ul>
