<h2 id="unsupported-liveusbs">
  <%= _('Unsupported') %> LiveUSBs
</h2>
<p>
  openSUSE Tumbleweed
  <%= _('also offers a number of unsupported LiveUSBs. These
  cannot be used for Installation or Upgrade. They are not an accurate
  reflection as to whether or not Tumbleweed will run on your hardware.') %>
  <br />
  <%= link_to _('Get Unsupported Tumbleweed LiveCDs.'), tumbleweed_unsupported_distributions_path %>
</p>
