<table>
  <thead>
    <tr>
      <th>From an older version or other Linux distro</th>
      <th>From Windows</th>
      <th>From OS X</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="https://en.opensuse.org/SDB:Download_help#Using_Linux">
          How to burn a DVD on Linux.
        </a>
      </td>
      <td>
        <a href="https://en.opensuse.org/SDB:Download_help#Using_Microsoft_Windows">
          How to burn a DVD on Windows.
        </a>
      </td>
      <td>
        <a href="https://en.opensuse.org/SDB:Download_help#Using_MacOS_X_.2810.3_and_above.29">
          How to burn a DVD on OS X.
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="https://en.opensuse.org/SDB:Live_USB_stick">
          How to create a bootable USB stick on Linux.
        </a>
      </td>
      <td>
        <a href="https://en.opensuse.org/SDB:Create_a_Live_USB_stick_using_Windows">
          How to create a Bootable USB stick on Windows.
        </a>
      </td>
      <td>
        <a href="https://en.opensuse.org/SDB:Create_a_Live_USB_stick_using_Mac_OS_x">
          How to create a bootable USB stick on OS X.
        </a>
      </td>
    </tr>
  </tbody>
</table>
