---
http_interactions:
- request:
    method: get
    uri: https://get.opensuse.org/api/v0/distributions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 22 Mar 2022 16:06:03 GMT
      Etag:
      - W/"6239f3eb-c96"
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "Leap": [
            {
              "name": "openSUSE Leap",
              "version": "15.4",
              "state": "Beta",
              "upgrade-weight": 7
            },
            {
              "name": "openSUSE Leap",
              "version": "15.3",
              "state": "Stable",
              "upgrade-weight": 6
            },
            {
              "name": "openSUSE Leap",
              "version": "15.2",
              "state": "EOL",
              "upgrade-weight": 5
            },
            {
              "name": "openSUSE Leap",
              "version": "15.1",
              "state": "EOL",
              "upgrade-weight": 4
            },
            {
              "name": "openSUSE Leap",
              "version": "15.0",
              "state": "EOL",
              "upgrade-weight": 3
            },
            {
              "name": "openSUSE Leap",
              "version": "42.3",
              "state": "EOL",
              "upgrade-weight": 2
            },
            {
              "name": "openSUSE Leap",
              "version": "42.2",
              "state": "EOL",
              "upgrade-weight": 1
            },
            {
              "name": "openSUSE Leap",
              "version": "42.1",
              "state": "EOL",
              "upgrade-weight": 0
            }
          ],
          "Tumbleweed": [
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220320",
              "upgrade-weight": 20220320
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220319",
              "upgrade-weight": 20220319
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220318",
              "upgrade-weight": 20220318
            },
            {
              "name": "open[...]
