---
http_interactions:
- request:
    method: get
    uri: https://api.opensuse.org/public/distributions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
      Authorization:
      - Basic <API HTTP AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":383.4216857794672,"db":66.39838428236544,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"9a13356003dd869ef9b1b14163fc187f"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <distributions>
          <distribution vendor="openEuler" version="20.03" id="20031">
            <name>openEuler 20.03</name>
            <project>openEuler:20.03</project>
            <reponame>openEuler_20.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" height="8"/>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="16" height="16"/>
            <architecture>aarch64</architecture>
            <architecture>x86_64</architecture>
          </distribution>
          <distribution vendor="openEuler" version="21.03" id="20034">
            <name>openEuler 21.03</name>
            <project>openEuler:21.03</project>
            <reponame>openEuler_21.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" he[...]
- request:
    method: get
    uri: https://get.opensuse.org/api/v0/distributions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 22 Mar 2022 16:06:03 GMT
      Etag:
      - W/"6239f3eb-c96"
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "Leap": [
            {
              "name": "openSUSE Leap",
              "version": "15.4",
              "state": "Beta",
              "upgrade-weight": 7
            },
            {
              "name": "openSUSE Leap",
              "version": "15.3",
              "state": "Stable",
              "upgrade-weight": 6
            },
            {
              "name": "openSUSE Leap",
              "version": "15.2",
              "state": "EOL",
              "upgrade-weight": 5
            },
            {
              "name": "openSUSE Leap",
              "version": "15.1",
              "state": "EOL",
              "upgrade-weight": 4
            },
            {
              "name": "openSUSE Leap",
              "version": "15.0",
              "state": "EOL",
              "upgrade-weight": 3
            },
            {
              "name": "openSUSE Leap",
              "version": "42.3",
              "state": "EOL",
              "upgrade-weight": 2
            },
            {
              "name": "openSUSE Leap",
              "version": "42.2",
              "state": "EOL",
              "upgrade-weight": 1
            },
            {
              "name": "openSUSE Leap",
              "version": "42.1",
              "state": "EOL",
              "upgrade-weight": 0
            }
          ],
          "Tumbleweed": [
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220320",
              "upgrade-weight": 20220320
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220319",
              "upgrade-weight": 20220319
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220318",
              "upgrade-weight": 20220318
            },
            {
              "name": "open[...]
[...]
- request:
    method: get
    uri: https://api.opensuse.org/search/published/binary/id?match=@project%20=%20%27openSUSE:Leap:15.2%27%20%20and%20contains-ic(@name,%20%27nvidia%27)%20and%20path/project=%27openSUSE:Leap:15.2%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":2.3685935884714127,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <collection matches="10">
          <binary name="skelcd-EULA-NVIDIA-compute" project="openSUSE:Leap:15.2" package="skelcd-NVIDIA-compute" repository="standard" version="2020.05.04" release="lp152.1.1" arch="x86_64" filename="skelcd-EULA-NVIDIA-compute-2020.05.04-lp152.1.1.x86_64.rpm" filepath="openSUSE:/Leap:/15.2/standard/x86_64/skelcd-EULA-NVIDIA-compute-2020.05.04-lp152.1.1.x86_64.rpm" baseproject="openSUSE:Leap:15.2" type="rpm"/>
          <binary name="skelcd-NVIDIA-compute" project="openSUSE:Leap:15.2" package="skelcd-NVIDIA-comput[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Leap:15.2/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.1035928726196289,"db":10.4272635653615,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"bfe63214bff47a946e77982d2692dfd5"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:54:14 GMT
- request:
    method: get
    uri: https://api.opensuse.org/published/openSUSE:Leap:15.2/standard/i586/pcp-pmda-nvidia-gpu-4.3.1-lp152.4.3.i586.rpm?view=fileinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":3.3028037287294865,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <fileinfo filename="pcp-pmda-nvidia-gpu-4.3.1-lp152.4.3.i586.rpm">
          <name>pcp-pmda-nvidia-gpu</name>
          <version>4.3.1</version>
          <release>lp152.4.3</release>
          <arch>i586</arch>
          <summary>Performance Co-Pilot (PCP) metrics for the Nvidia GPU</summary>
          <description>This package contains the PCP Performance Metrics Domain Agent (PMDA) for
        collecting metrics about Nvidia GPUs.</description>
          <size>30320</size>
          <mtime>1589647228</mtime>
          <provides>pcp-pmda-nvidia-gpu = 4.3.1-lp152.4.3</provides>
          <provides>pcp-pmda-nvidia-gpu(x86-32) = 4.3.1-lp152.4.3</provides>
          <requires>/bin/sh</requires>
          <requires>libc.so.6</requires>
          <requires>libc.so.6(GLIBC_2.0)</requires>
          <requires>libc.so.6(GLIBC_2.1.3)</requires>
          <requires>libc.so.6(GLIBC_2.4)</requires>
          <requires>libdl.so.2</requires>
          <requires>libdl.so.2(GLIBC_2.0)</requires>
          <requires>libdl.so.2(GLIBC_2.1)</requires>
          <requires>libpcp.so.3</requires>
          <requires>libpcp.so.3(PCP_3.0)</requires>
          <requires>libpcp.so.3(PCP_3.21)</requires>
          <requires>libpcp.so.3(PCP_3.22)</requires>
          <requires>libpcp_pmda.so.3</requires>
          <requires>libpcp_pmda.so.3(PCP_PMDA_3.0)</requires>
          <requires>libpcp_pmda.so.3(PCP_PMDA_3.1)</requires>
          <requires>libpcp_pmda.so.3(PCP_PMDA_3.7)</requires>
          <requires>rpmlib(CompressedFileNames) &lt;= 3.0.4-1</requires>
          <requires>rpmlib(FileDigests) &lt;= 4.6.0-1</requires>
          <requires>rpmlib(PayloadFilesHavePrefix) &lt;= 4.0-1</requires>
          <requires>rpmlib(PayloadIsXz) &lt;= 5.2-1</requires>
        </fileinfo>
  recorded_at: Tue, 22 Mar 2022 16:54:14 GMT
- request:
    method: get
    uri: https://api.opensuse.org/published/openSUSE:Leap:15.2/standard/src/nvidia-texture-tools-2.0.8-lp152.3.9.src.rpm?view=fileinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":4.293960286304355,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <fileinfo filename="nvidia-texture-tools-2.0.8-lp152.3.9.src.rpm">
          <name>nvidia-texture-tools</name>
          <version>2.0.8</version>
          <release>lp152.3.9</release>
          <arch>src</arch>
          <summary>NVIDIA Texture Tools</summary>
          <description>This is the first alpha release of the new NVIDIA Texture Tools. The main highlights of
        this release are support for all DX10 texture formats, higher speed and improved
        compression quality.

        In addition to that it also comes with a hardware accelerated compressor that
        uses CUDA to compress blocks in parallel on the GPU and runs around 10 times
        faster than the CPU counterpart.

        You can obtain CUDA from our developer site at:

        http://developer.nvidia.com/object/cuda.html

        The source code of the Texture Tools is being released under the terms of
        the MIT license.</description>
          <size>949569</size>
          <mtime>1589650082</mtime>
          <requires>Mesa-devel</requires>
          <requires>cmake</requires>
          <requires>dos2unix</requires>
          <requires>freeglut-devel</requires>
          <requires>gcc-c++</requires>
          <requires>glew-devel</requires>
          <requires>libjpeg-devel</requires>
          <requires>libpng-devel</requires>
          <requires>libtiff-devel</requires>
          <requires>rpmlib(CompressedFileNames) &lt;= 3.0.4-1</requires>
          <requires>rpmlib(FileDigests) &lt;= 4.6.0-1</requires>
          <requires>zlib-devel</requires>
        </fileinfo>
  recorded_at: Tue, 22 Mar 2022 16:54:14 GMT
- request:
    method: get
    uri: https://api.opensuse.org/published/openSUSE:Leap:15.2/standard/src/skelcd-NVIDIA-compute-2020.05.04-lp152.1.1.src.rpm?view=fileinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":4.4442759826779366,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <fileinfo filename="skelcd-NVIDIA-compute-2020.05.04-lp152.1.1.src.rpm">
          <name>skelcd-NVIDIA-compute</name>
          <version>2020.05.04</version>
          <release>lp152.1.1</release>
          <arch>src</arch>
          <summary>CD skeleton</summary>
          <description>Internal package only.</description>
          <size>7904</size>
          <mtime>1591129854</mtime>
          <requires>rpmlib(CompressedFileNames) &lt;= 3.0.4-1</requires>
          <requires>rpmlib(FileDigests) &lt;= 4.6.0-1</requires>
          <requires>suse-build-key</requires>
        </fileinfo>
  recorded_at: Tue, 22 Mar 2022 16:54:15 GMT
- request:
    method: get
    uri: https://api.opensuse.org/published/openSUSE:Leap:15.2/standard/x86_64/skelcd-EULA-NVIDIA-compute-2020.05.04-lp152.1.1.x86_64.rpm?view=fileinfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":3[...]
[...]
