---
http_interactions:
- request:
    method: get
    uri: https://api.opensuse.org/public/distributions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
      Authorization:
      - Basic <API HTTP AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":173.799886040797,"db":64.29544396087294,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220325T134845.229514a0dc
      Etag:
      - W/"29ac160026c03327e5336d50ce8b0806"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <distributions>
          <distribution vendor="openEuler" version="20.03" id="20031">
            <name>openEuler 20.03</name>
            <project>openEuler:20.03</project>
            <reponame>openEuler_20.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" height="8"/>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="16" height="16"/>
            <architecture>aarch64</architecture>
            <architecture>x86_64</architecture>
          </distribution>
          <distribution vendor="openEuler" version="21.03" id="20034">
            <name>openEuler 21.03</name>
            <project>openEuler:21.03</project>
            <reponame>openEuler_21.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" he[...]
- request:
    method: get
    uri: https://get.opensuse.org/api/v0/distributions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 25 Mar 2022 21:05:00 GMT
      Etag:
      - W/"623e2e7c-c96"
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "Leap": [
            {
              "name": "openSUSE Leap",
              "version": "15.4",
              "state": "Beta",
              "upgrade-weight": 7
            },
            {
              "name": "openSUSE Leap",
              "version": "15.3",
              "state": "Stable",
              "upgrade-weight": 6
            },
            {
              "name": "openSUSE Leap",
              "version": "15.2",
              "state": "EOL",
              "upgrade-weight": 5
            },
            {
              "name": "openSUSE Leap",
              "version": "15.1",
              "state": "EOL",
              "upgrade-weight": 4
            },
            {
              "name": "openSUSE Leap",
              "version": "15.0",
              "state": "EOL",
              "upgrade-weight": 3
            },
            {
              "name": "openSUSE Leap",
              "version": "42.3",
              "state": "EOL",
              "upgrade-weight": 2
            },
            {
              "name": "openSUSE Leap",
              "version": "42.2",
              "state": "EOL",
              "upgrade-weight": 1
            },
            {
              "name": "openSUSE Leap",
              "version": "42.1",
              "state": "EOL",
              "upgrade-weight": 0
            }
          ],
          "Tumbleweed": [
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220323",
              "upgrade-weight": 20220323
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220322",
              "upgrade-weight": 20220322
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220321",
              "upgrade-weight": 20220321
            },
            {
              "name": "open[...]
- request:
    method: get
    uri: https://api.opensuse.org//search/published/binary/id?match=project=%27openSUSE:Tools%27%20and%20name=%27osc%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
      Authorization:
      - Basic <API HTTP AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":3.327533006086014,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220325T134845.229514a0dc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <collection matches="197">
          <binary name="osc" project="openSUSE:Tools" package="osc" repository="Debian_10" version="0.176.0" release="0" arch="all" filename="osc_0.176.0-0_all.deb" filepath="openSUSE:/Tools/Debian_10/all/osc_0.176.0-0_all.deb" baseproject="Debian:10" type="deb"/>
          <binary name="osc" project="openSUSE:Tools" package="osc" repository="Debian_11" version="0.176.0" release="0" arch="all" filename="osc_0.176.0-0_all.deb" filepath="openSUSE:/Tools/Debian_11/all/osc_0.176.0-0_all.deb" baseproject="Debian:11" t[...]
