---
http_interactions:
- request:
    method: get
    uri: https://api.opensuse.org/public/distributions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
      Authorization:
      - Basic <API HTTP AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":176.81665974669158,"db":65.47914538532495,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"d2817ebe2c708f573202ea6a6a89c5f4"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <distributions>
          <distribution vendor="openEuler" version="20.03" id="20031">
            <name>openEuler 20.03</name>
            <project>openEuler:20.03</project>
            <reponame>openEuler_20.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" height="8"/>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="16" height="16"/>
            <architecture>aarch64</architecture>
            <architecture>x86_64</architecture>
          </distribution>
          <distribution vendor="openEuler" version="21.03" id="20034">
            <name>openEuler 21.03</name>
            <project>openEuler:21.03</project>
            <reponame>openEuler_21.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" he[...]
- request:
    method: get
    uri: https://get.opensuse.org/api/v0/distributions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 22 Mar 2022 16:06:03 GMT
      Etag:
      - W/"6239f3eb-c96"
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "Leap": [
            {
              "name": "openSUSE Leap",
              "version": "15.4",
              "state": "Beta",
              "upgrade-weight": 7
            },
            {
              "name": "openSUSE Leap",
              "version": "15.3",
              "state": "Stable",
              "upgrade-weight": 6
            },
            {
              "name": "openSUSE Leap",
              "version": "15.2",
              "state": "EOL",
              "upgrade-weight": 5
            },
            {
              "name": "openSUSE Leap",
              "version": "15.1",
              "state": "EOL",
              "upgrade-weight": 4
            },
            {
              "name": "openSUSE Leap",
              "version": "15.0",
              "state": "EOL",
              "upgrade-weight": 3
            },
            {
              "name": "openSUSE Leap",
              "version": "42.3",
              "state": "EOL",
              "upgrade-weight": 2
            },
            {
              "name": "openSUSE Leap",
              "version": "42.2",
              "state": "EOL",
              "upgrade-weight": 1
            },
            {
              "name": "openSUSE Leap",
              "version": "42.1",
              "state": "EOL",
              "upgrade-weight": 0
            }
          ],
          "Tumbleweed": [
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220320",
              "upgrade-weight": 20220320
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220319",
              "upgrade-weight": 20220319
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220318",
              "upgrade-weight": 20220318
            },
            {
              "name": "open[...]
- request:
    method: get
    uri: https://api.opensuse.org/search/published/binary/id?match=@name%20=%20%27pidgin%27%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":2.129067201167345,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <collection matches="288">
          <binary name="pidgin" project="home:xhaakon:sipe" package="pidgin" repository="Debian_8.0" version="3.0.0" release="1+20170313174835~debian8" arch="amd64" filename="pidgin_3.0.0-1+20170313174835~debian8_amd64.deb" filepath="home:/xhaakon:/sipe/Debian_8.0/amd64/pidgin_3.0.0-1+20170313174835~debian8_amd64.deb" baseproject="Debian:8.0" type="deb"/>
          <binary name="pidgin" project="home:xhaakon:sipe" package="pidgin" repository="Debian_8.0" version="3.0.0" release="1+20170313174835~debian8" arch="i3[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/home:xhaakon:sipe/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.11008395813405514,"db":5.851272027939558,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"8460f2ce784b1c9d2fc3e5fb0578b7e7"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:43 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/GNOME:Next/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.1431950367987156,"db":7.2743266355246305,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"e004b5b46e04a098afe91981b4b73d3e"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:45 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:dirkmueller:Factory/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.11958414688706398,"db":7.478373358026147,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"cceea1e4f60aaf4ad75271a347dec4da"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:46 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/network:pidgin/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.18822494894266129,"db":7.332876091822982,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"0789aeb08076d7854719d69171b43e69"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:48 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:dirkmueller:Factory:Staging/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.11713407002389431,"db":6.1915910337120295,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"f4c0407ca7f22ac6c6dd134ec7efaba9"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:48 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Factory/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.12776395305991173,"db":10.487011400982738,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"258606dee3cedee21e7847338bbd1328"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:49 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Factory:RISCV/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.10700314305722713,"db":7.119981339201331,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"258606dee3cedee21e7847338bbd1328"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:49 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Factory:zSystems/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.10847393423318863,"db":8.668818511068821,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"4a83f56e7ad20b67d34fbdcf481ed18d"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:50 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/devel:ARM:Factory:Contrib:ILP32/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.12049288488924503,"db":8.283538278192282,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"1b5042a28a32b5e3e7022d4c86cf8913"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:51 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:favogt:symbolictw/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.2248869277536869,"db":8.048702264204621,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"636927f727362f516ea5e1068629bda3"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:52 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/SUSE:SLE-15-SP2:Update/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.14935503713786602,"db":12.392581207677722,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"1c7c6217906fab941f503f605e4a0fbf"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:53 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Backports:SLE-15-SP2/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.11831382289528847,"db":6.576952058821917,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"4268f95ea96eae47bb216a171d6ef359"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:54 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Leap:15.2:Update/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.32232003286480904,"db":9.793274104595184,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"4268f95ea96eae47bb216a171d6ef359"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:54 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:tangerine:deb9-xfce-4.12/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.08283182978630066,"db":9.313518879935145,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"4268f95ea96eae47bb216a171d6ef359"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:54 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:DarkSS/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.1574140042066574,"db":6.862864596769214,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"674c503c940a81d649161eb68caa0ecb"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:55 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Leap:15.0/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.11465395800769329,"db":9.259026730433106,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"674c503c940a81d649161eb68caa0ecb"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:55 GMT
[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/home:rdannert:aarch64/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.1349740196019411,"db":5.993507569655776,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"74df42101f0a330ffa9e2c5e2bb1037e"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:57 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:Alexander_Naumov:SSLmigration/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.0932828988879919,"db":6.539680063724518,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"74df42101f0a330ffa9e2c5e2bb1037e"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:58 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:rdannert:aarch64-based_on_42.2/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.152484979480505,"db":5.3788782097399235,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"86394ff97f3b1622d5de060d0b2902f5"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:58 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:13.2:Update/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.21468615159392357,"db":5.8971429243683815,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"86394ff97f3b1622d5de060d0b2902f5"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:58 GMT
[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/home:matthewdva:build:RedHat:RHEL-7/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.2805690746754408,"db":7.169020129367709,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"0574c432475f8180bf8eccc7798a394d"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:00 GMT
[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/home:GenesisRock/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.13732397928833961,"db":5.561772966757417,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"5656655ec3873f9cdf70ee1f235e81bb"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:01 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:13.2/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.14171400107443333,"db":6.193030625581741,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"5656655ec3873f9cdf70ee1f235e81bb"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:01 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Evergreen:11.4/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.2371668815612793,"db":6.388848414644599,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"e84ad6040802dc449597fbe1dba7bce0"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:02 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:efagra:SLE12/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.07149204611778259,"db":8.052730932831764,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"e84ad6040802dc449597fbe1dba7bce0"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:02 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:rdannert:JeOS-Test/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.08344301022589207,"db":4.895601654425263,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"e84ad6040802dc449597fbe1dba7bce0"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:02 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Maintenance:1428/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.11686398647725582,"db":5.965325282886624,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"e84ad6040802dc449597fbe1dba7bce0"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:02 GMT
[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:12.2:ARM/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.18253503367304802,"db":5.440308013930917,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"446095891c371a34c24570699a18032d"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:03 GMT
[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:Evergreen:Maintenance:76/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.12916396372020245,"db":8.617999264970422,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"6e47dca82a3a2025063ce4086058a419"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:53:06 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/openSUSE:11.3:Update/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Opensuse-Runtimes:
      - '{"view":3.300882875919342,"db":5.16608078032732,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      X-Opensuse-Errorcode:
      - unknown_project
      Status:
      - 404 Not Found
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
[...]
