---
http_interactions:
- request:
    method: get
    uri: https://api.opensuse.org/source/home:dmacvicar/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.09768316522240639,"db":5.217104917392135,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"0e24bee84aa20db33b3870002d68970e"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:52:32 GMT
recorded_with: VCR 6.1.0
