---
http_interactions:
- request:
    method: get
    uri: https://api.opensuse.org/search/published/binary/id?match=contains-ic(@name,%20%27rarcrack%27)%20and%20path/project=%27openSUSE:Factory%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":null,"db":2.8849197551608086,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <collection matches="4">
          <binary name="rarcrack" project="home:dmacvicar" package="rarcrack" repository="openSUSE_Tumbleweed" version="0.2" release="1.117" arch="aarch64" filename="rarcrack-0.2-1.117.aarch64.rpm" filepath="home:/dmacvicar/openSUSE_Tumbleweed/aarch64/rarcrack-0.2-1.117.aarch64.rpm" baseproject="openSUSE:Factory" type="rpm"/>
          <binary name="rarcrack" project="home:dmacvicar" package="rarcrack" repository="openSUSE_Tumbleweed" version="0.2" release="1.117" arch="i586" filename="rarcrack-0.2-1.117.i586.rpm" filepath="home:/dmacvicar/openSUSE_Tumbleweed/i586/rarcrack-0.2-1.117.i586.rpm" baseproject="openSUSE:Factory" type="rpm"/>
          <binary name="rarcrack" project="home:dmacvicar" package="rarcrack" repository="openSUSE_Tumbleweed" version="0.2" release="1.117" arch="src" filename="rarcrack-0.2-1.117.src.rpm" filepath="home:/dmacvicar/openSUSE_Tumbleweed/src/rarcrack-0.2-1.117.src.rpm" baseproject="openSUSE:Factory" type="rpm"/>
          <binary name="rarcrack" project="home:dmacvicar" package="rarcrack" repository="openSUSE_Tumbleweed" version="0.2" release="1.117" arch="x86_64" filename="rarcrack-0.2-1.117.x86_64.rpm" filepath="home:/dmacvicar/openSUSE_Tumbleweed/x86_64/rarcrack-0.2-1.117.x86_64.rpm" baseproject="openSUSE:Factory" type="rpm"/>
        </collection>
  recorded_at: Tue, 22 Mar 2022 16:57:57 GMT
- request:
    method: get
    uri: https://api.opensuse.org/source/home:dmacvicar/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.11082412675023079,"db":7.556400960311294,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"223092c48eca7345304e1b69f89f0668"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:57:57 GMT
[...]
- request:
    method: get
    uri: https://api.opensuse.org/source/home:dmacvicar/_attribute/OBS:QualityCategory
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <API HTTP AUTH>
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":0.1250430941581726,"db":6.109177600592375,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"f73c11b470fa39bc67a5dc2e6ea4a6c1"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "<attributes/>\n"
  recorded_at: Tue, 22 Mar 2022 16:57:59 GMT
recorded_with: VCR 6.1.0
