---
http_interactions:
- request:
    method: get
    uri: https://api.opensuse.org/public/distributions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - "<API USERNAME>"
      X-Opensuse-Data:
      - TEST
      Authorization:
      - Basic <API HTTP AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Opensuse-Runtimes:
      - '{"view":178.89477335847914,"db":66.03432376869023,"backend":0}'
      X-Opensuse-Apiversion:
      - 2.11~alpha.20220322T101623.7ee4a21ab6
      Etag:
      - W/"6520173877806ea06af6feb14814d793"
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <distributions>
          <distribution vendor="openEuler" version="20.03" id="20031">
            <name>openEuler 20.03</name>
            <project>openEuler:20.03</project>
            <reponame>openEuler_20.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" height="8"/>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="16" height="16"/>
            <architecture>aarch64</architecture>
            <architecture>x86_64</architecture>
          </distribution>
          <distribution vendor="openEuler" version="21.03" id="20034">
            <name>openEuler 21.03</name>
            <project>openEuler:21.03</project>
            <reponame>openEuler_21.03</reponame>
            <repository>standard</repository>
            <link>http://www.openeuler.org/</link>
            <icon url="https://static.opensuse.org/distributions/logos/openeuler.png" width="8" he[...]
- request:
    method: get
    uri: https://get.opensuse.org/api/v0/distributions.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 22 Mar 2022 16:06:03 GMT
      Etag:
      - W/"6239f3eb-c96"
    body:
      encoding: ASCII-8BIT
      string: |+
        {
          "Leap": [
            {
              "name": "openSUSE Leap",
              "version": "15.4",
              "state": "Beta",
              "upgrade-weight": 7
            },
            {
              "name": "openSUSE Leap",
              "version": "15.3",
              "state": "Stable",
              "upgrade-weight": 6
            },
            {
              "name": "openSUSE Leap",
              "version": "15.2",
              "state": "EOL",
              "upgrade-weight": 5
            },
            {
              "name": "openSUSE Leap",
              "version": "15.1",
              "state": "EOL",
              "upgrade-weight": 4
            },
            {
              "name": "openSUSE Leap",
              "version": "15.0",
              "state": "EOL",
              "upgrade-weight": 3
            },
            {
              "name": "openSUSE Leap",
              "version": "42.3",
              "state": "EOL",
              "upgrade-weight": 2
            },
            {
              "name": "openSUSE Leap",
              "version": "42.2",
              "state": "EOL",
              "upgrade-weight": 1
            },
            {
              "name": "openSUSE Leap",
              "version": "42.1",
              "state": "EOL",
              "upgrade-weight": 0
            }
          ],
          "Tumbleweed": [
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220320",
              "upgrade-weight": 20220320
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220319",
              "upgrade-weight": 20220319
            },
            {
              "name": "openSUSE Tumbleweed",
              "version": "20220318",
              "upgrade-weight": 20220318
            },
            {
              "name": "open[...]
