/* Override url() with asset-url() where needed */
#header, #global-navigation li.selected{background:#666 asset-url('images/gradient-dark-nav.png') repeat-x scroll bottom left;}

#login-form input[type="submit"]{background:#9f3 asset-url('images/gradient-dark-nav.png') repeat-x scroll 0 -15px;}

.box-header, .box-subheader, .box-footer, .header-tabs li.selected{background:#fff asset-url('images/gradient-light.png') repeat-x scroll 0 -25px;}

.header-tabs li.selected{background:white asset-url('images/gradient-dark-nav.png') repeat-x scroll bottom left;}

.button, button, input[type="submit"]{background:#DDD asset-url('images/gradient-medium-short.png') repeat-x scroll 0 0;}
