# Set this when the client runs from a subdirectory
relative_url_root: 

api_host: https://api.opensuse.org

# Add your username + password for the api here
api_username: test
api_password: test

#use_static: software.o.o

order_mails_to: promodvds@opensuse.org

# only for production use
#opensuse_cookie: 

# see http://colszowka.heroku.com/2011/02/22/setting-up-your-custom-hoptoad-notifier-endpoint-for-free-using-errbit-on-heroku
#errbit_api_key: api_key_of_your_app
#errbit_host: installation.of.errbit.com

