/*
**
**  $Id: $
**
**  Funktion:  Provides styles only needed on dowwnload.openSUSE.org
**  Authors:   Frank Sundermeyer <fs@opensuse.org>
**             Robert Lihm <rlihm@opensuse.org>
**  License:   see copyright/COPYRIGHT
*/

#sponsors {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #F59F1A;
}
.navlist {
    list-style-image: url(http://static.opensuse.org/c/css/common/images/liDot_double_orange.png);
}
.show {
    display: inline;
}
.hide {
    display: none;
}
.blue_txt {
 color: #4987b3 !important;
 }


/*-------------------*
* Download Home page *
*--------------------*/

#media_type,
#protocol {
    margin-bottom: 10px;
}
#architecture label {
    display: block; 
}
#protocol label,
#media_type label {
    margin: 1px 2em 1px 0;
}
#architecture label {
    margin: 1px 0;
}
#architecture label,
#protocol label,
#media_type label {
    border: 1px solid #fff;
    padding: 6px;
    cursor: pointer;
}
#architecture label:hover,
#protocol label:hover,
#media_type label:hover {
    border-color: #eee;
    background-color: #fcfcfc;
}
#architecture label.selected,
#protocol label.selected,
#media_type label.selected {
    font-weight: bold;
    background-color: #f6f6f6;
    border-color: #eee;
}
.media {
    margin-bottom: 1em;
}
.media h3 {
    font-size: 1em;
    color: #666;
}
.media img {
    margin-right: 5px;
}
.media_description {
    margin: -1em 0 1em;
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}
.dl_link {
    margin: .8em 0 0 31px;
    text-indent: -31px;
}
label.selected .arch_eg {
    font-weight: normal;
}
.top_border_1,
#paginator_bottom{
  border-top: 1px solid #CCC;
  margin-top: 10px;
  }

#paginator_bottom #paginator {
  margin-top: 0;
  margin-bottom: 10px;
  }

.eg,
.arch_eg {
    font-size: 0.8em;
}
.arch_eg {
    margin-left: 2em;
    display: block;
}
.info_text {
    font-weight: normal;
    font-size: 0.95em;
}
.helplink {
  position: relative:
  top: .3em;
  float: right;
  margin-right: .3em;
  font-weight: bold;
  }
#bodyContent {
  min-height: 520px;
  }

#result {
  margin-top: 2em;
}
.ajaxindicator_wrapper {
  display: block;
  width: 99%;
  height: 30px;
  }
#ajaxindicator {
  width: 6.5em;
  height: 1.2em;
  float: right;
   
  padding-top: 0.05em;

  color: #999;
  text-align: right; 
  background: url(http://static.opensuse.org/c/images/common/spinner_16.gif) no-repeat 00 ;

  /* display: block !important; */ /* for debuging */
  }
 
#search_top_info {
 border-top: 1px solid #ccc;
 }
.search_o_wrapper {
  border: 10px solid #fcfcfc;
  margin-top: 2em;
  height: auto;
  min-height: 100px;
  clear: both;
  }
.search_o_title {
  display: block;
  height: 1em;
  /*height: auto;*/
  /*overflow: auto;*/

  border-top: 1px solid #CCC;
  padding-top: 1ex;
  }
.search_o_title div {
  width: 49.5%;
  float:left;
  }
.search_o_title h3 {
  font-size: 1.2em;
  color: #F59F1A;
  }
.search_o_title h4 {
  font-size: 1em;
  color: #999;
  }
.description {
  padding-top: 1ex;
  }
.description div {
  }
.description .description-txt {
  width: 70%;
  float: left;
  margin-bottom: 1em;
  } 
.install_btn {
  float: right;
  width: 135px;
  height: 38px;
  text-align: center;
  
  background: transparent url(http://static.opensuse.org/hosts/software.o.o/css/images/inst_btn.png) no-repeat scroll top left;
}
.install_btn a {
  display: block;
  height: 38px;
  line-height: 36px;
  margin-left: 32px;
  text-decoration: none!important;
  }
.small_btn {
  float: left;
  width: 75px;
  height: 22px;
  margin-top: 3px;
  padding-top: 2px;
  text-align: center;
  text-decoration: none;
  text-decoration: none!important;
  background: transparent url(http://static.opensuse.org/hosts/software.o.o/css/images/small_btn.png) no-repeat scroll top left; 
  }

#obs_link {}

.description h4 {
  color: #999;
  }

#pkg_list_wrapper {
  display: block;
  clear: both;
  }
.pkg_list {
  width: 95%;
  clear: both;
  }
.pkg_list .cell1 {
  width: 20px;
  font-weight: bold;
  }
#pkg_list_wrapper h4 {
  color: #999;
  display: block;
  width: 20em;
  float: left;
  } 
#download_os,
#get_software {
  padding: 7px 0;
  text-align: center;
  overflow: hidden;
  background: url(http://static.opensuse.org/hosts/software.o.o/css/images/get_it128.png) no-repeat center;
  }
#get_software {
  padding: 15px 0 0;
  background: url(http://static.opensuse.org/hosts/software.o.o/css/images/get_pack.png) no-repeat top;
  }
#download_os_link {
  display: block;
  width: 100%;
  height: 100px; 
  }
#search_form {
  text-align: center;
  }
#search_form * {
  margin-bottom: 1ex;
  }
#search_form input#searchstring {
  width: 145px;
  }
#baseproject {
  border: 1px solid #CCC;
  }

p#form_control {
  text-align: center;
  margin-top: 15px;
  }
p#form_control input {
  padding: 0;
  margin: 0;
  }
p#form_control select {
  margin-right: 10px;
  }
input#q {
  display: block;
  margin: 7px auto;
  }

h3 span {
  font-size: 10px !important;
  color: #999 !important;
  }
#contentarea h4 a.blue_over {
  text-decoration: none;
  color: #999;
  border: 0;
}
#contentarea h4 a.blue_over:hover {
  text-decoration: underline;
  color: #4987b3 ;  
}
#platin_sponsor {}
#platin_sponsor a {
  display: block;
}


/* paginator */
#paginator {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  }
#paginator a {
  padding: 2px 5px;
  margin: 0 -2px;
  }
  #paginator a:hover {
    background-color: #f6f6f6;
    }
#current_page {
  font-weight: bold;
  }
.next_btn *,
.prev_btn * {
  background-color: transparent !important;
  }
.font-blue {
  color:#4987B3;
}
