#iso-wrapper {
  padding: 0;
  margin-right: 17em
}
  #iso-wrapper h4 {
    margin-bottom: 15px
  }
  #iso-wrapper div.changeiso {
    border: 5px solid #ccc;
    min-height: 70px;
    margin-bottom: 10px;
    color: #999;
    
    cursor: pointer;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #ffffff url('images/gradien-light-grey.png') repeat-x scroll bottom left;
    
  }
  #iso-wrapper div.medium_selected {
    border-color: #4987B3;
    -moz-box-shadow: 0px 1px 4px #999;
    -webkit-box-shadow: 0px 1px 4px #999;
    box-shadow: 0px 1px 4px #999;
    color: #333;
  }
    #iso-wrapper div.changeiso div {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-right: 20px;
    }
    #iso-wrapper div.changeiso img { /* Icon */
      margin: 10px;
      float: left;
    }

#download_button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  
  background: #4987B3 url('images/bg-dark-gradient.png') repeat-x scroll 0 0;
  background: #fff url('images/gradient-light-short.png') repeat-x scroll 0 0;
  border: 2px solid #ccc;
  border: 2px solid #4987B3;
  color: #444 !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 10px;
  padding: 10px 10px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #999999;
  text-shadow: 0 -1px 0 #fff;
  width: auto !important;
  position: relative;
  overflow: visible;
  
  margin-left: 3px;
  
  -moz-box-shadow: 0px 1px 2px #999;
  -webkit-box-shadow: 0px 1px 2px #999;
  box-shadow: 0px 1px 2px #999;
}

#download_button:hover {
/*  background-color: #4987B3;*/
/*  background-position: 0 -90px;*/
/*  border-color: #3c6f93;  
  border-color: #F59F1A;  */
/*  border-color : #999;*/
  color: #4987B3!important;
/*  text-shadow: 0 -1px 0 #666;*/

-moz-box-shadow: 0px 1px 2px #ccc;
-webkit-box-shadow: 0px 1px 2px #ccc;
box-shadow: 0px 1px 2px #ccc;
}
  
.icon_unselected {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter:alpha(opacity=30);
}

.icon_selected { opacity: 1; }
.l_change { display: block; margin-bottom: .5em; }}

#popup {
  padding: 0.5em;
  width: 70%;
  margin: 0 auto;
  border: 3px solid #000000;
  background: #ffffff;
  position: absolute;
  left: 0px;
  z-index: 2;
}

/* Helper Styles */
.hidden { display: none; }
.help_icon { margin-left: 10px; }
.notavailable { color: gray; }
