// New theme
.package-card {
    .card-img-top {
        height: 250px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // Only one line text
    .card-title {
        height: 1.1em;
        white-space: nowrap;
        overflow: hidden;

        mark {
            padding: 0;
        }
    }

    // Only two line text
    .card-text {
        height: 3em;
        overflow: hidden;
    }
}

.bg-success .nav-tabs .nav-link:not(.active), .bg-primary .nav-tabs .nav-link:not(.active), .bg-dark .nav-tabs .nav-link:not(.active) {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.bg-success .nav-tabs .nav-link:not(.active):hover, .bg-primary .nav-tabs .nav-link:not(.active):hover, .bg-dark .nav-tabs .nav-link:not(.active):hover  {
    color: rgba(255, 255, 255, 0.5);
    border-color: transparent transparent white transparent;
}

.distro-logo {
    width: 256px;
    height: 256px;
}
