<% unless flash.blank? %>
  <div <% if @colour %>class="<%= "bg-#{@colour}" %>"<% end %>>
    <div class="container">
      <div id="flash-messages" class="" >
        <% %w(success error warn note notice info).each do |flash_type|
            if (flash[flash_type] && !flash[flash_type].empty?)
              flash_header = case flash_type.to_sym
                when :error then 'alert alert-danger'
                when :warn then 'alert alert-warning'
                when :success then 'alert alert-success'
                when :note then 'alert alert-light'
                when :info then 'alert alert-info'
                when :notice then 'alert alert-primary'
              end
              flash_icon = case flash_type.to_sym
                when :error then 'typcn typcn-warning'
                when :warn then 'typcn typcn-warning'
                when :success then 'typcn typcn-tick'
                when :note then 'typcn typcn-info-large'
                when :info then 'typcn typcn-info-large'
                when :notice then 'typcn typcn-info-large'
              end %>

              <%
              body = flash[flash_type].gsub(/\n/, '<br/>')
              body = sanitize body, :tags => %w(a b p ul li br u), :attributes => %w(href title)
              %>

              <div class="<%= flash_header %>">
                <i class="<%= flash_icon %>"></i>
                <%= body %>
              </div>

            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>
