%footer.footer
  .container
    .d-flex.justify-content-between
      .footer-copyright
        &copy; 2011&ndash;
        = Time.new.year
        = _("openSUSE contributors")
      .list-inline
        = link_to _("Source Code"), "https://github.com/openSUSE/news-o-o", class: "list-inline-item"
        = link_to _("License"), "https://github.com/openSUSE/news-o-o/blob/master/LICENSE", class: "list-inline-item"
