<footer>
    <div class="container-fluid">
      <div class="row footer-links-area">
        <div class="col-sm-5">
          <div class="row">
            <div class="col-xs-4">
              <ul>
                <li>
                  <a href="https://software.opensuse.org/">
                    <span lang="en">Get software</span>
                  </a>
                </li>
                <li>
                  <a href="https://en.opensuse.org/Main_Page">
                    <span lang="en">Wiki</span>
                  </a>
                </li>
                <li>
                  <a href="https://build.opensuse.org/">
                    <span lang="en">Build Service</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-4">
              <ul>
                <li>
                  <a href="https://connect.opensuse.org/">
                    <span lang="en">Social Network</span>
                  </a>
                </li>
                <li>
                  <a href="https://news.opensuse.org/">
                    <span lang="en">News</span>
                  </a>
                </li>
                <li>
                  <a href="https://forums.opensuse.org/">
                    <span lang="en">Forums</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-xs-4">
              <ul>
                <li>
                  <a href="https://shop.opensuse.org/">
                    <span lang="en">Shop</span>
                  </a>
                </li>
                <li>
                  <a href="https://lizards.opensuse.org/">
                    <span lang="en">Blogs</span>
                  </a>
                </li>
                <li>
                  <a href="mailto:press@opensuse.org">
                    <span lang="en">Press</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2 social-networks">
          <a href="https://twitter.com/opensuse" target="_blank">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a href="https://plus.google.com/+openSUSE/posts" target="_blank">
            <i class="fa fa-google-plus-square"></i>
          </a>
          <a href="https://www.facebook.com/en.openSUSE" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="https://www.youtube.com/user/opensusetv" target="_blank">
            <i class="fa fa-youtube-square"></i>
          </a>
        </div>
      </div>
      <div class="blue-triangular-division wow slideInDown" style="visibility: visible; animation-name: slideInDown;"></div>
      <div class="row footer-sponsors-area text-center">
        <div class="col-sm-6 col-sm-offset-3">
          <h5 lang="en">Sponsored by:</h5>
          <a href="https://en.opensuse.org/Sponsors" target="_blank">
            <%= image_tag('jekyll/sponsors.jpg', alt: 'openSUSE Sponsor Logos') %>
          </a>
        </div>
        <div class="col-sm-3 text-left language-selector">
          <h5 lang="en">Change language</h5>
          <div class="dropup dropup_language-menu">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              <span class="selected-language">English</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu languages" aria-labelledby="dropdownMenu1">
              <% LANGUAGES.sort.each do |lang| %>
                <li class="dropdown-item">
                  <%= link_to LANGUAGE_NAMES[lang], params.permit.merge(:locale => lang) %>
                </li>
              <% end -%>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- translators: just keep the Imprint link on the English version. It's only important for German actually -->
      <p class="text-center">© 2015-2017 SUSE LLC. <span lang="en">All Rights Reserved.</span> <a lang="en" href="https://en.opensuse.org/Imprint">Imprint.</a></p>
    </div>
  </footer>
