<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= "software.opensuse.org: #{@page_title}" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>

    <link rel="search" type="application/opensearchdescription+xml" title="openSUSE Software" href="/search_software.xml" />

    <%= stylesheet_link_tag "/css/ui.dialog.css", "/themes/bento/css/style.css", "/css/software.css" %>
    <link href="http://static.opensuse.org/themes/bento/images/favicon.png" rel="shortcut icon" />
    <%= javascript_include_tag "http://static.opensuse.org/themes/bento/js/jquery.js", "jquery-ui-1.7.2.js", "jrails.js", "application.js"  %>
    <%= javascript_include_tag "http://static.opensuse.org/c/javascript/common/langsel.js" %>
    <%= javascript_include_tag "/themes/bento/js/l10n/global-navigation-data-#{@lang}.js", "/themes/bento/js/global-navigation.js" %>

    <%= yield :content_for_head %>

    <script type="text/javascript">
      /* <![CDATA[ */
<%= yield :head_javascript %>
  $(function() {
<%= yield :ready_function %>
         
    var flip = 0;
    $(".options_link").click(function () {
      $("#search_options").toggle( flip++ % 2 == 0 );
    });
  });
  /* ]]> */
    </script>

  </head>
  <body>

    <div id="header">
      <div id="header-content" class="container_12">
        <a id="header-logo" href="/">
          <%= image_tag '/themes/bento/images/header-logo.png', :width => 46, :height => 26, :alt => _("Header Logo") %>
        </a>
        <ul id="global-navigation">
          <li id="item-downloads"><a href="http://en.opensuse.org/openSUSE:Browse#downloads"><%= _("Downloads") %></a></li>
          <li id="item-support"><a href="http://en.opensuse.org/openSUSE:Browse#support"><%= _("Support") %></a></li>
          <li id="item-community"><a href="http://en.opensuse.org/openSUSE:Browse#community"><%= _("Community") %></a></li>
          <li id="item-development"><a href="http://en.opensuse.org/openSUSE:Browse#development"><%= _("Development") %></a></li>
        </ul>
      </div>
    </div>

    <% unless flash.empty? %>
      <div id="flash-messages" class="container_16" >
        <% if flash[:success] or flash[:note] %>
          <div class="grid_16 alpha omega">
            <div class="ui-state-highlight ui-corner-all">
              <p>
                <span class="ui-icon ui-icon-info"/>
                <%=h flash[:success] %><%=h flash[:note] %>
              </p>
            </div>
          </div>
        <% end %>

        <% if flash[:warn] or flash[:error] %>
          <div class="grid_16 alpha omega">
            <div class="ui-state-error ui-corner-all">
              <p>
                <span class="ui-icon ui-icon-alert" />
                <%=h flash[:warn] %><%=h flash[:error] %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div id="content" class="container_12 content-wrapper">
      <div class="grid_9 alpha">

        <%= render :partial => 'search/search_box' %>

        <div class="box box-shadow">
          <h2 class="box-header">
            <span class="alignleft"><%= @box_title || @page_title -%></span>
            <% if @right_box == :search -%>
              <span class="alignright" style="padding-right: 10px">
                <% if !@release.blank? and @release != "developer" -%>
                  <%= _('switch to') -%> <%= link_to _('Development Version'), {:controller => "main", :action => "developer", :lang => @lang } -%>
                <% elsif !@release.blank? -%>
                  <%= _('switch to') -%> <%= link_to _('Released Version'), {:controller => "main", :action => "index", :lang => @lang } -%>
                <% end -%>
              </span>
            <% end -%>
          </h2>
          <div>
            <%= @content_for_layout %>
          </div>
        </div>

      </div>
      <div class="grid_3 omega">

        <div class="box box-shadow">
          <h2 class="box-header centered"><%= _("Popular Software") %></h2>

          <p>
            <% top = top_downloads
            if !top.blank?
              top1=top[0][:count]
              top10=top[-1][:count]
              top.each do |query| -%>
                <% queryclass=((Float(query[:count] - top10) / (top1 - top10)) * 5).round %>
                <a class='<%= "nowrap query query_#{queryclass}"%>'><%= query[:query] %></a>
              <% end
            end -%>
          </p>
        </div>

        <div class="box box-shadow">
          <h2 class="box-header centered"><%=_("Getting Help")%></h2>
          <ul class="navigation">
            <li><a href="http://en.opensuse.org/SDB:Download_help"><%=_("Download Help")%></a></li>
            <li><a href="http://en.opensuse.org/SDB:Download_help#Burn_the_ISO_image.28s.29"><%=_("Burn CD/DVD Image(s)")%></a></li>
            <li><a href="http://en.opensuse.org/SDB:Installation"><%=_("Installation Guides")%></a></li>
            <li><a href="http://doc.opensuse.org/"><%=_("Official Manuals")%></a></li>
            <li><a href="http://en.opensuse.org/Package_repositories"><%=_("Package Repositories")%></a></li>
            <li><a href="http://en.opensuse.org/openSUSE:Submitting_bug_reports"><%=_("Reporting Bugs")%></a></li>
          </ul>
        </div>

        <div class="box box-shadow">
          <img src="http://counter.opensuse.org/conf/2010/small.png" alt="openSUSE Conference 2010 Counter" class="aligncenter"/>
        </div>

        <div class="box box-shadow">

          <!-- <h2 class="box-header"><%=_("openSUSE 11.3 Counter")%></h2>
          <div class="centered">
            <img src="http://counter.opensuse.org/11.3/small" title="<%=_("openSUSE 11.3 Counter")%>" alt="<%=_("openSUSE 11.3 Counter")%>"/>
          </div> -->

          <h2 class="box-header aligncenter"><%=_("Buy openSUSE")%></h2>
          <div class="centered">
            <a href="<%= _("http://en.opensuse.org/Buy_openSUSE") %>"><img src="http://en.opensuse.org/images/4/4c/OpenSUSE11.3_Box.png" title="<%=_("Buy openSUSE 11.3")%>" alt="<%=_("Buy openSUSE 11.3")%>"/></a>
          </div>
          <p class="centered">
            <a href="<%= _("http://en.opensuse.org/Buy_openSUSE") %>" title="Buy openSUSE" style="text-decoration: none; font-weight: bold"><%=_("Buy openSUSE 11.3!")%></a>
          </p>
        </div>

        <div class="box box-shadow">
          <h2 class="box-header centered"><%=_("Sponsored by")%></h2>
          <!--<p class="centered" style="color: #ccc; font-size: 0.8em"><%=_("Platinum Sponsor")%></p>-->
          <p class="centered" style="color: #ccc; font-size: 0.8em;"><%=_("Gold Sponsor")%></p>
          <p class="centered">
            <a href="http://en.opensuse.org/Sponsors"><img title="<%=_("Sponsored by AMD")%>" alt="<%=_("Sponsored by AMD")%>" src="http://static.opensuse.org/c/images/common/Amd.png"/></a>
            <a href="http://en.opensuse.org/Sponsors"><img title="<%=_("Sponsored by: IP Exchange")%>" alt="<%=_("Sponsored by: IP Exchange")%>" src="http://static.opensuse.org/c/images/common/Ip-exchange.gif"/></a>
          </p>
          <p class="centered" style="color: #ccc; font-size: 0.8em;"><%=_("Silver Sponsor")%></p>
          <p class="centered">
            <a href="http://en.opensuse.org/Sponsors"><img title="<%=_("Sponsored by: B1 Systems")%>" alt="<%=_("Sponsored by: B1 Systems")%>" src="http://static.opensuse.org/c/images/common/B1-systems-1.jpg"/></a>
          </p>
          <!--<p class="centered" style="color: #ccc; font-size: 0.8em"><%=_("Bronze Sponsor")%></p>-->
        </div>

      </div>

    </div>

    <div id="footer" class="container_12">
      <div id="footer-content" class="grid_12">
      </div>
      <div id="footer-legal" class="border-top grid_12">
        <a href="http://en.opensuse.org/Portal:Project">About openSUSE</a> |
        <a href="http://en.opensuse.org/Terms_of_site">Legal information</a> |
        <a href="mailto:admin@opensuse.org">Feedback</a>
        <br/><br/>
        <a href="http://www.novell.com/linux/"><img src="http://static.opensuse.org/c/images/common/founded_novell.gif" alt="Founded by Novell" /></a>
      </div>
    </div>

    <% if @right_box == :search -%>
      <!--[if lte IE 7]>
          <script type="text/javascript">
           alert("Please note that the Internet Explorer (all versions) is not capable of handling\nfiles larger than 4 GB.\n\nThis means that you will not be able to download the DVD images using IE.\n\nPlease use a different browser or a downloadmanager.")
          </script>
        <![endif]-->
    <% end -%>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(
      ['_setAccount', 'UA-3367212-3'],
      ['_setDomainName', '.opensuse.org'],
      ['_gat._anonymizeIp'],
      ['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
